.layui-footer{
    text-align: center;
    font-size: 12px;
}
.iconfont{
    margin-right: 8px;
}
iframe{
    width: 100%;
    height: 100%;
}
/* 去除默认c3动画 */
a{
    transform: none !important;
}
.userinfo{
   height: 60px;
   text-align: center;
   line-height: 60px;
   /* 光标不可选中 */
   user-select: none;
   font-size: 12px;
}
.layui-side-scroll .userinfo{
    border-bottom: 1px solid black;
}

.text-av{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    position: relative;
    top: 4px;
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
}
.layui-nav-img{
    width: 40px;
    height: 40px;
}